<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">
<head>
    <title>Angular App Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/app.service.js"></script>
    <script type="text/javascript" src="app/upload/upload.controller.js"></script>


</head>

<body>

<div ng-controller="UploadCtrl as uploadCtrl">
    <div style="margin:30px">
        <h2>Upload File</h2>
        <img class="img-responsive" alt=""/>
        <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">

            <div class="form-group">

                <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select accept="image/*">

            </div>

            <div class="form-group">

                <input id="text" type="text" ng-model="uploadCtrl.comment" required>

            </div>

            <div class="form-group" style="margin-bottom:10px">

                <img ngf-thumbnail="uploadCtrl.imgFile" width="70px">

            </div>

            <div class="form-group btn-group">

                <button type="submit">Add</button>

                <button type="button" ng-click="uploadCtrl.deleteFromAlbum()">
                    Delete
                </button>

                <button type="button" ng-click="uploadCtrl.refreshAlbum()">
                    Refresh
                </button>

            </div>

            <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code"
                 ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">

                <button class="close" data-dismiss="alert">

                    <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                    &times;

                </button>

                {{ uploadCtrl.status.message }}

            </div>

        </form>
        <div class="container">
            <div class="row">
                <div class='list-group gallery'>
                    <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' ng-repeat="album in uploadCtrl.albums">
                        <a class="fancybox thumbnail" rel="ligthbox">
                            <img class="img-responsive" ng-src="images/{{album.filePath}}"/>
                            <span>{{album.comment}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>